body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #3498db !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    text-align: left !important;
    margin: 2px 0 16px 0 !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
}

p {
    text-align: center;
    overflow: overlay;
    position: relative;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 4px !important;
    animation: fadeIn .15s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.conceptG text {
    pointer-events: none;
}

marker {
    fill: #333;
}

g.conceptG circle {
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle {
    fill: rgb(200, 238, 241);
}

g.selected circle {
    fill: rgb(250, 232, 255);
}

g.conceptG:hover #ellipse {
    fill: #bb5045 !important;
}

g.conceptG:hover #ellipse-shadow {
    fill: #ea6254 !important;
}

g.selected #ellipse {
    fill: #c0392b !important;
    color: white !important;
}

g.selected #ellipse-shadow {
    fill: #e74c3c !important;
    color: white !important;
}

g.selected tspan {
    fill: white !important;
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover {
    stroke: rgb(94, 196, 204);
}

g.connect-node circle {
    fill: #BEFFFF;
}

path.link.hidden {
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}

#legenda {
    position: absolute;
    top: 2%;
    left: 0;
}

#legenda li {
    list-style: none;
    color: white;
}

#dashboard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    padding: 16px;
    background-color: white;
    box-shadow: 1px 1px 13px -4px black;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 250px;
}

#dashboard *:first-child {
    margin-bottom: 16px;
}

#nodes-list,
#edges-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    padding: 16px;
    background-color: white;
    box-shadow: 1px 1px 13px -4px black;
    width: 100%;
    margin-bottom: 16px;
    max-height: 29.5vh;
    overflow: hidden;
    overflow-y: auto;
}

#nodes-list table,
#edges-list table {
    width: 100%;
}

#data-container {
    position: fixed;
    top: 2%;
    right: 2%;
    width: 250px;
}